* {
  margin: 0;
  padding: 0;
}
.mainHeading {
  font-family: "Fraunces", serif;
}
.desc,
span {
  font-family: "Montserrat", sans-serif;
}
#mainContent{
  border-radius: 2%;
}
.media{
  border-radius: 2%;
}